.header {
  color: darkred;
  font-family: magneto;
  font-weight: 300;
}

body {
	background-image: url(./img/KK-banner-large.png);
	background-position: center;
	font-family: 'magneto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: magneto;
}

.btn-danger {
  background-color: darkred;
  border-color:white;
}

.btn-danger:hover {
  background-color: darkred;
  border-color: white;
}

.panel-default>.panel-heading {
  background-color:darkred;
  color: white;
}

.panel-default {
  border-color: darkred;
}

.artLink {
  color: darkred;
}

.saved-buttons {
  margin-right: 1em;
}

.noteText {
  color: darkred;
}

.deletex {
  color: darkred;
}

.modal-body{
	background-image: url(../img/kk-banner-cropped.png);
	background-size: cover;
	background-position: center;
}

.alert-warning {
	color: #ffff;
	background-color: #ffff;
	border-color: darkred;
}

.main-img {
	margin-bottom: 1px;
	border-top: 3px solid darkred;
	border-bottom: 3px solid darkred;
}

.savedArt {
	margin: 0 auto;
	width: 80%;
}